body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.cards-container {
  display: grid;
  /* grid-template-columns: repeat(
    4,
    calc((100% - 3 * 20px) / 4)
  );  */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  width: calc(100% - 2rem);
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
